html {
  background-color: #F6F2FF;
}

#homepage {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;

  height: 100%;
}

#homepage header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  
  /* position: absolute;
  width: 321px;
  height: 160px;
  left: calc(50% - 321px/2); */
}

#homepage header h1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  margin: 0;

  text-align: center;

  color: #240D57; 
}

#homepage header h3 {
  width: 321px;
  height: 36px;
  
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

  margin: 0;

  text-align: center;
  
  color: #4F4F4F;
}

.highlight-title {
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#homepage-preview-img {
  background: url(./img_home_0.png);
  background-position: center;
  background-size: cover;

  width: 165.63px;
  height: 292px;
  filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
  border-radius: 24.8462px;
}

.btn {
  border: none;
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  color: #FFFFFF;
}

#create-event-btn {
  width: 187px;
  height: 50px;
}
